#image {
    max-width: 100%;
}

#image-panel {
    position: relative;
    display: inline-block;
}

.label-line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: red;
    width: 1px;
    height: 100%;
}

.pitch {
    width: 75px;
}